@import "vars";

.about {
  padding-top: 20px;
  margin-bottom: 80px;
  .section-content {
    .section-title {
      margin-bottom: 40px;
    }
    .author-content {
      display: flex;
      align-items: flex-start;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        img {
          margin-bottom: $main-gap;
        }
      }
      img {
        max-width: 410px;
        margin-right: 60px;
        width: 100%;
        height: auto;
        @media screen and (max-width: 992px) {
          max-width: 300px;
        }
        @media screen and (max-width: 576px) {
          max-width: none;
          width: 100%;
        }
      }
      .text {
        max-width: 560px;
        width: 100%;
        @media screen and (max-width: 1460px) {
          max-width: none;
        }
        .head {
          display: block;
          margin-bottom: 24px;
          font-weight: 600;
          font-size: 15px;
          line-height: 24px;
        }
        .divider {
          margin-bottom: 24px;
        }
        .text-item {
          display: block;
          font-family: 'Gilroy', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.02em;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.read-more {
  margin-bottom: 70px;
  .section-title {
    margin-bottom: $main-gap;
  }
  .section-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 190px;
    grid-gap: 24px;
    @media screen and (max-width: 1460px) {
      padding-right: 0;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .read-post {
      .post-info {
        padding: 34px 32px;
        .post-title {
          margin-bottom: 24px;
        }
        .post-link-text {
          display: block;
          margin-bottom: 22px;
        }
        .counts {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 24px;
        }
      }
    }
  }
}