@import "vars";

.categories {
  margin-bottom: 80px;
  .section-content {
    margin-top: 52px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $main-gap;
    @media screen and (max-width: 1460px) {
      grid-template-columns: 1fr;
    }
    .categories-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $main-gap;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      .category-image {
        display: flex;
      }
    }
  }
}