@import "vars";

.category-extra {
  margin-top: 60px;
  margin-bottom: 50px;
  .section-title {
    margin-bottom: 52px;
  }
  .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $main-gap;
    @media screen and (max-width: 1460px) {
      grid-template-columns: 1fr;
    }
    .other-posts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 34px 18px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
    .large-post-wrap {
      @media screen and (max-width: 1460px) {
        display: none;
      }
    }
  }
}