@import "vars";

footer {
  padding-top: 70px;
  .footer-content {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    @media screen and (max-width: 992px) {
      grid-template-columns: none;
      grid-template-areas: "logo logo logo" "links links networks";
      grid-row-gap: $main-gap;
      .logo {
        grid-area: logo;
      }
      .links {
        grid-area: links;
      }
      .networks {
        grid-area: networks;
      }
    }
    @media screen and (max-width: 768px) {
      grid-template-areas: "logo" "links" "networks";
    }
    .links {
      display: flex;
      @media screen and (max-width: 576px) {
        flex-direction: column;
        .link-block {
          margin-bottom: $main-gap;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .link-block {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        @media screen and (max-width: 1460px) {
          margin-right: 60px;
        }
        &:last-child {
          margin-right: 0;
        }
        .link-block-title {
          font-weight: 600;
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 28px;
        }
        a {
          display: flex;
          text-decoration: none;
          font-weight: 300;
          font-size: 13px;
          line-height: 14px;
          color: $color-secondary4;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .networks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      @media screen and (max-width: 768px) {
        align-items: flex-start;
        flex-direction: column-reverse;
        .search-wrap {
          margin-bottom: $main-gap;
        }
      }
    }
  }
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    @media screen and (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .copy {
      @media screen and (max-width: 576px) {
        margin-bottom: 10px;
      }
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      .sign {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .rights {
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      opacity: 0.5;
      @media screen and (max-width: 576px) {
        opacity: 1;
      }
    }
  }
}