@import "vars";

header {
  box-shadow: $main-shadow;
  height: 94px;
  display: flex;
  align-items: center;
  background-color: $color-white;
  .container {
    height: 100%;
  }
  .header-content-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-content {
      height: 100%;
      display: flex;
      align-items: center;
      .logo {
        margin-right: 100px;
      }
      .menu {
        height: 100%;
        margin-right: 100px;
        display: flex;
        align-items: center;
        .menu-item {
          height: 100%;
          margin-right: $main-gap;
          &:last-child {
            margin-right: 0;
          }
          .menu-item-link {
            display: flex;
            align-items: center;
            height: 100%;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 13px;
            line-height: 14px;
            color: $color-secondary4;
            position: relative;
          }
          &.active {
            .menu-item-link {
              color: $color-brand;
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                width: 100%;
                background-color: $color-brand;
              }
            }
          }
        }
      }
    }
  }
}