@import "vars";

.news {
  padding-top: 52px;
  margin-bottom: 80px;
  .section-content {
    .all-news-mobile {
      display: none;
      margin-top: 30px;
      @media screen and (max-width: 576px) {
        display: flex;
        justify-content: center;
      }
    }
    .title-wrap {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .all-news {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    #news {
      .news-item {
        text-decoration: none;
        max-width: 332px;
        width: 100%;
        margin-right: 25px;
        @media screen and (max-width: 1460px) {
          max-width: 221px;
        }
        @media screen and (max-width: 992px) {
          max-width: 223px;
        }
        @media screen and (max-width: 768px) {
          max-width: 258px;
        }
        @media screen and (max-width: 576px) {
          max-width: none;
        }
        .image-wrap {
          position: relative;
          .image-title-wrap {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-white;
            padding: 28px 0;
            text-align: center;
            .image-title {
              text-transform: uppercase;
              font-weight: 300;
              font-size: 18px;
              line-height: 30px;
              color: $color-black;
              b {
                font-weight: 600;
              }
            }
          }
        }
        .info-wrap {
          margin-top: 36px;
          .news-date {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $color-secondary1;
            display: block;
            margin-bottom: 10px;
          }
          .news-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: $color-black;
          }
        }
      }
    }
    .news-gallery {
      position: relative;
      @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .mobile-arrows {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
    }
    .arrow {
      z-index: 10;
      position: absolute;
      top: 165px;
      transform: translateY(-50%);
      @media screen and (max-width: 1460px) {
        top: 110px;
      }
      @media screen and (max-width: 768px) {
        top: 130px;
      }
      @media screen and (max-width: 576px) {
        &.flicking-arrow-prev {
          left: 10px !important;
        }
        &.flicking-arrow-next {
          right: 10px !important;
        }
        top: calc(50% - 45px);
      }
      &.flicking-arrow-prev {
        left: -70px;
      }
      &.flicking-arrow-next {
        right: -70px;
      }
    }
  }
}