@import "vars";

.posts {
  margin-bottom: 70px;
  .section-content {
    .section-title {
      margin-bottom: 35px;
    }
    .posts-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $main-gap;
      @media screen and (max-width: 1460px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      .post-item {
        .post-info {
          padding: 40px 32px;
          .post-title {
            margin-bottom: 22px;
          }
          .post-description-wrap {
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .post-description {
              max-width: 287px;
            }
          }
          .counts {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 32px;
            .counter {
              .mob {
                @media screen and (max-width: 992px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .show-more {
      padding-top: 50px;
      display: flex;
      justify-content: center;
    }
  }
}