@import "vars";

.promos {
  padding: 52px 0;
  background-color: $color-white;
  box-shadow: $main-shadow;
  margin-bottom: 70px;
  .section-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: $main-gap;
    @media screen and (max-width: 1460px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .promo-item {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $main-shadow;
      transition: 0.2s;
      &:hover {
        box-shadow: $main-shadow-hover;
      }
      .text-wrap {
        padding: 30px 0 30px 24px;
        display: flex;
        flex-direction: column;
        .promo-name {
          margin-bottom: 2px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: $color-black;
        }
        .promo-link {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: $color-secondary1;
          font-family: 'Gilroy', sans-serif;
        }
      }
      .image-wrap {
        background-color: $color-brand-004;
        width: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
}