// colors
$color-white: #FFFFFF;
$color-black: #282A2E;
$color-secondary1: rgba(40, 42, 46, 0.6);
$color-secondary2: rgba(40, 42, 46, 0.7);
$color-secondary3: rgba(40, 42, 46, 0.8);
$color-secondary4: rgba(40, 42, 46, 0.9);
$color-border: rgba(40, 42, 46, 0.08);
$color-brand: #B21115;

$color-brand-002: rgba(178, 17, 21, 0.02);
$color-brand-004: rgba(178, 17, 21, 0.04);

// system
$main-gap: 42px;
$main-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);