@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

// global
@import "vars";
@import "global";

// sections
@import "header";
@import "buttons";
@import "posts";
@import "promos";
@import "categories";
@import "category-extra";
@import "news";
@import "footer";
@import "breadcrumbs";
@import "posts-page";
@import "interests";
@import "about";

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: $color-white;
  font-family: 'Montserrat', sans-serif;
  color: $color-black;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}
