@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

// global
@import "vars";
@import "global";

// sections
@import "header";
@import "buttons";
@import "posts";
@import "promos";
@import "categories";
@import "category-extra";
@import "news";
@import "footer";
@import "breadcrumbs";
@import "posts-page";
@import "interests";
@import "about";
@import "contacts";
@import "lifehacks";
@import "post";

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1460px) {
    max-width: 960px;
  }
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }
  @media screen and (max-width: 768px) {
    max-width: 540px;
  }
  @media screen and (max-width: 576px) {
    max-width: 100%;
    padding: 0 16px;
  }
}

body {
  overflow-x: hidden;
  background-color: $color-white;
  font-family: 'Montserrat', sans-serif;
  color: $color-black;
}

main {
  padding-top: 94px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}
