@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

// global
@import "vars";

// sections
@import "header";

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: $color-white;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}