@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
h2.section-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
}
h2.section-title.large {
  font-size: 36px;
  line-height: 48px;
}

hr.divider {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(40, 42, 46, 0.08);
}

.social-networks {
  display: flex;
  align-items: center;
}
.social-networks .subscribe-text {
  color: rgba(40, 42, 46, 0.8);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-right: 20px;
  font-family: "Gilroy", sans-serif;
}
.social-networks .network {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B21115;
  height: 38px;
  width: 38px;
  margin-right: 18px;
}
.social-networks .network:last-child {
  margin-right: 0;
}

.search-wrap {
  display: flex;
}
.search-wrap .search-field {
  height: 38px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  width: 160px;
  font-size: 12px;
  line-height: 14px;
}
.search-wrap .search-button {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

header {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  height: 94px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 11;
}
header .container {
  height: 100%;
}
header .header-mobile {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 94px;
  width: 100%;
  padding-bottom: 40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
header .header-mobile > .container {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
header .header-mobile .search-wrap {
  display: none;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  header .header-mobile .search-wrap {
    display: flex;
    justify-content: space-between;
  }
  header .header-mobile .search-wrap label {
    display: block;
    width: 100%;
  }
  header .header-mobile .search-wrap label input {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  header .header-mobile.show {
    display: block;
  }
}
header .header-mobile-content .menu {
  display: flex;
  flex-direction: column;
}
header .header-mobile-content .menu .menu-item {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
header .header-mobile-content .menu .menu-item .nested-menu {
  padding: 16px 0 4px 16px;
}
header .header-mobile-content .menu .menu-item:last-child {
  margin-bottom: 0;
}
header .header-mobile-content .menu .menu-item-link {
  text-decoration: none;
  color: #282A2E;
}
header .header-mobile-content .menu .menu-item.active > .menu-item-link {
  color: #B21115;
}
header .header-mobile-content .recent-posts {
  margin-top: 20px;
}
header .header-mobile-content .recent-posts .post-item {
  display: flex;
  text-decoration: none;
  margin-bottom: 12px;
}
header .header-mobile-content .recent-posts .post-item:last-child {
  margin-bottom: 0;
}
header .header-mobile-content .recent-posts .post-item .image-wrap {
  height: 80px;
  min-width: 80px;
  margin-right: 16px;
}
header .header-mobile-content .recent-posts .post-item .post-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #282A2E;
  line-height: 24px;
}
header .header-content-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-content-wrap .search-main-wrap {
  display: flex;
  align-items: center;
}
header .header-content-wrap .search-main-wrap .menu-button {
  display: none;
  margin-left: 14px;
}
@media screen and (max-width: 992px) {
  header .header-content-wrap .search-main-wrap .menu-button {
    display: flex;
    border: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
@media screen and (max-width: 576px) {
  header .header-content-wrap .search-main-wrap .search-wrap {
    display: none;
  }
}
header .header-content-wrap .header-content {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .social-networks {
    display: none;
  }
}
header .header-content-wrap .header-content .logo {
  margin-right: 100px;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .logo {
    margin-right: 50px;
  }
}
header .header-content-wrap .header-content .menu {
  height: 100%;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .menu {
    margin-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  header .header-content-wrap .header-content .menu {
    display: none;
  }
}
header .header-content-wrap .header-content .menu .menu-item {
  height: 100%;
  padding: 0 21px;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .menu .menu-item {
    padding: 0 14px;
  }
}
header .header-content-wrap .header-content .menu .menu-item:last-child {
  margin-right: 0;
}
header .header-content-wrap .header-content .menu .menu-item .menu-item-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.9);
  position: relative;
  white-space: nowrap;
  transition: 0.2s;
}
header .header-content-wrap .header-content .menu .menu-item .menu-item-link .link-text {
  position: relative;
  z-index: 3;
}
header .header-content-wrap .header-content .menu .menu-item.active .menu-item-link {
  color: #B21115;
}
header .header-content-wrap .header-content .menu .menu-item.active .menu-item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #B21115;
  transition: 0.2s;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown {
  position: relative;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .menu-item-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #B21115;
  transition: 0.2s;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown:hover .dropdown-block {
  height: auto;
  opacity: 1;
  visibility: visible;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown:hover .menu-item-link {
  color: #FFFFFF;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown:hover .menu-item-link::before {
  height: 100%;
  left: -21px;
  right: -21px;
  background-color: #B21115;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block {
  transition: 0.2s;
  background-color: #FFFFFF;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  padding: 30px 40px 30px 50px;
  left: 0;
  display: flex;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block {
    left: -7px;
    padding: 20px 30px;
  }
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .links .link {
  margin-bottom: 12px;
  white-space: nowrap;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .links .link:last-child {
  margin-bottom: 0;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .links .link .dropdown-link-item {
  color: #282A2E;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  font-size: 13px;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .links .link .dropdown-link-item:hover {
  text-decoration: underline;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts {
  margin-left: 120px;
  display: flex;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts {
    margin-left: 40px;
  }
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item {
  text-decoration: none;
  margin-right: 34px;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item:last-child {
  margin-right: 0;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item:hover .post-title {
  text-decoration: underline;
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item .image-wrap {
  width: 210px;
  margin-bottom: 14px;
}
@media screen and (max-width: 1460px) {
  header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item .image-wrap {
    width: 160px;
  }
}
header .header-content-wrap .header-content .menu .menu-item.dropdown .dropdown-block .dropdown-posts .post-item .post-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #282A2E;
}

.brand-btn {
  height: 50px;
  padding: 0 40px;
  background-color: #B21115;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  border: none;
  transition: box-shadow 0.2s;
}
.brand-btn:hover {
  box-shadow: 0 0 20px rgba(178, 17, 21, 0.3);
}
.brand-btn.shadow {
  box-shadow: 0 0 20px rgba(178, 17, 21, 0.3);
}
.brand-btn.shadow:hover {
  box-shadow: 0 0 20px rgba(178, 17, 21, 0.45);
}

.link-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #B21115;
  border: none;
  border-radius: 0;
}

.secondary-button {
  height: 44px;
  padding: 0 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  background-color: #FFFFFF;
  border: 1px solid rgba(40, 42, 46, 0.12);
  transition: 0.2s;
  color: rgba(40, 42, 46, 0.7);
}
.secondary-button:hover {
  border-color: rgba(40, 42, 46, 0.3);
}

.typical-post:hover .post-info {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
.typical-post .post-info {
  transition: 0.2s;
  background: #FFFFFF;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}
.typical-post .post-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.typical-post .post-large-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
}
.typical-post .post-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", sans-serif;
}
.typical-post .post-link {
  text-decoration: none;
}
.typical-post .post-link-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.6);
  text-decoration: none;
}
.typical-post .post-link-text:hover {
  text-decoration: underline;
}
.typical-post .counter {
  display: flex;
  align-items: center;
}
.typical-post .counter.small .counter-value {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.typical-post .counter.small .counter-value.up {
  font-size: 11px;
}
.typical-post .counter .counter-image {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.typical-post .counter .counter-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(40, 42, 46, 0.7);
}
.typical-post .counter .counter-value.up {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  font-family: "Gilroy", sans-serif;
}
.typical-post .counter .counter-value.brand {
  color: #B21115;
}

.main-posts {
  background-color: rgba(178, 17, 21, 0.02);
  padding: 35px 0;
  margin-bottom: 15px;
}
.main-posts .posts-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 27px 21px;
}
@media screen and (max-width: 1460px) {
  .main-posts .posts-wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .main-posts .posts-wrap {
    grid-template-columns: 1fr;
  }
}
.main-posts .button-wrap {
  text-align: center;
  margin-top: 39px;
}

.main-post {
  text-decoration: none;
}
.main-post:hover .post-title {
  text-decoration: underline;
}
.main-post .post-image {
  display: flex;
  width: 100%;
}
.main-post .info-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.main-post .info-line .post-left {
  display: flex;
  align-items: center;
}
.main-post .info-line .post-left .post-category {
  background-color: #B21115;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin-right: 10px;
}
.main-post .info-line .post-left .post-date {
  color: rgba(40, 42, 46, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: "Gilroy", sans-serif;
}
.main-post .info-line .post-right {
  display: flex;
}
.main-post .info-line .post-right .count {
  display: flex;
  margin-right: 14px;
}
.main-post .info-line .post-right .count:last-child {
  margin-right: 0;
}
.main-post .info-line .post-right .count img {
  margin-right: 6px;
}
.main-post .info-line .post-right .count .count-value {
  color: rgba(40, 42, 46, 0.7);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.main-post .post-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282A2E;
}

.posts-category .post-info {
  padding: 42px;
  position: relative;
}
.posts-category .post-info .category-icon-wrap {
  position: absolute;
  left: 42px;
  top: 0;
  transform: translateY(-50%);
  height: 38px;
  width: 38px;
  background-color: #B21115;
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts-category .post-info .post-title {
  margin-bottom: 20px;
}
.posts-category .post-info .post-description {
  max-width: 305px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1460px) {
  .popular-posts-block-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 42px;
  }
}
@media screen and (max-width: 768px) {
  .popular-posts-block-wrap {
    display: block;
  }
}
.popular-posts-block-wrap .popular-posts-block {
  padding: 35px 42px;
  background-color: rgba(178, 17, 21, 0.04);
}
.popular-posts-block-wrap .popular-posts-block .popular-posts-title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(40, 42, 46, 0.6);
  margin-bottom: 32px;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post {
  margin-bottom: 35px;
  text-align: center;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post:hover .post-link {
  text-decoration: underline;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post:last-child {
  margin-bottom: 0;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post .post-image {
  margin-bottom: 20px;
  width: 100%;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post .post-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 4px;
}
.popular-posts-block-wrap .popular-posts-block .posts .popular-post .post-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.6);
  text-decoration: none;
}
.popular-posts-block-wrap .hashtags {
  text-align: center;
  max-width: 330px;
  margin: 35px auto 0 auto;
}
@media screen and (max-width: 992px) {
  .popular-posts-block-wrap .hashtags {
    max-width: none;
  }
}
.popular-posts-block-wrap .hashtags .title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: rgba(40, 42, 46, 0.6);
  text-transform: uppercase;
}
.popular-posts-block-wrap .hashtags .hashtags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(6px);
}
.popular-posts-block-wrap .hashtags .hashtags-list .hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  background-color: #B21115;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-decoration: none;
  margin-right: 12px;
  margin-bottom: 14px;
  border: 1px solid #B21115;
  transition: 0.1s;
}
.popular-posts-block-wrap .hashtags .hashtags-list .hashtag:hover {
  background-color: #FFFFFF;
  color: #B21115;
}

.square-image {
  position: relative;
}
.square-image::before {
  content: "";
  padding-top: 100%;
  display: block;
  grid-area: 1/1/2/2;
}
.square-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1/1/2/2;
}

.large-post .post-info {
  padding: 42px 32px;
}
.large-post .post-info .post-title {
  margin-bottom: 24px;
}
.large-post .post-info .post-description-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 41px;
}
.large-post .post-info .post-description-wrap .post-description {
  margin-right: 85px;
}
.large-post .post-info .post-description-wrap .post-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.large-post .post-info .post-description-wrap .post-link .post-link-text {
  margin-right: 16px;
}
.large-post .post-info .counts {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.large-post .post-info .counts .count-right {
  display: flex;
}
.large-post .post-info .counts .count-right .counter {
  margin-right: 54px;
}
.large-post .post-info .counts .count-right .counter:last-child {
  margin-right: 0;
}

.category-small-post img {
  display: flex;
  width: 100%;
}
.category-small-post .post-info {
  padding: 26px 32px;
}
.category-small-post .post-info .text-info-wrap {
  padding-bottom: 20px;
}
.category-small-post .post-info .post-title {
  margin-bottom: 10px;
}
.category-small-post .post-info .post-description {
  margin-bottom: 18px;
}
.category-small-post .post-info .counters {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promos {
  padding: 52px 0;
  background-color: #FFFFFF;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  margin-bottom: 70px;
}
.promos .section-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .promos .section-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .promos .section-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .promos .section-content {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.promos .section-content .promo-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}
.promos .section-content .promo-item:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
.promos .section-content .promo-item .text-wrap {
  padding: 30px 0 30px 24px;
  display: flex;
  flex-direction: column;
}
.promos .section-content .promo-item .text-wrap .promo-name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #282A2E;
}
.promos .section-content .promo-item .text-wrap .promo-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.6);
  font-family: "Gilroy", sans-serif;
}
.promos .section-content .promo-item .image-wrap {
  background-color: rgba(178, 17, 21, 0.04);
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.categories {
  margin-bottom: 80px;
}
.categories .section-content {
  margin-top: 52px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .categories .section-content {
    grid-template-columns: 1fr;
  }
}
.categories .section-content .categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 768px) {
  .categories .section-content .categories-list {
    grid-template-columns: 1fr;
  }
}
.categories .section-content .categories-list .category-image {
  display: flex;
}

.category-extra {
  margin-top: 60px;
  margin-bottom: 50px;
}
.category-extra .section-title {
  margin-bottom: 52px;
}
.category-extra .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .category-extra .section-content {
    grid-template-columns: 1fr;
  }
}
.category-extra .section-content .other-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px 18px;
}
@media screen and (max-width: 768px) {
  .category-extra .section-content .other-posts {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1460px) {
  .category-extra .section-content .large-post-wrap {
    display: none;
  }
}

.news {
  padding-top: 52px;
  margin-bottom: 80px;
}
.news .section-content .all-news-mobile {
  display: none;
  margin-top: 30px;
}
@media screen and (max-width: 576px) {
  .news .section-content .all-news-mobile {
    display: flex;
    justify-content: center;
  }
}
.news .section-content .title-wrap {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .news .section-content .title-wrap .all-news {
    display: none;
  }
}
.news .section-content #news .news-item {
  text-decoration: none;
  max-width: 332px;
  width: 100%;
  margin-right: 25px;
}
@media screen and (max-width: 1460px) {
  .news .section-content #news .news-item {
    max-width: 221px;
  }
}
@media screen and (max-width: 992px) {
  .news .section-content #news .news-item {
    max-width: 223px;
  }
}
@media screen and (max-width: 768px) {
  .news .section-content #news .news-item {
    max-width: 258px;
  }
}
@media screen and (max-width: 576px) {
  .news .section-content #news .news-item {
    max-width: none;
  }
}
.news .section-content #news .news-item .image-wrap {
  position: relative;
}
.news .section-content #news .news-item .image-wrap .image-title-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  padding: 28px 0;
  text-align: center;
}
.news .section-content #news .news-item .image-wrap .image-title-wrap .image-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #282A2E;
}
.news .section-content #news .news-item .image-wrap .image-title-wrap .image-title b {
  font-weight: 600;
}
.news .section-content #news .news-item .info-wrap {
  margin-top: 36px;
}
.news .section-content #news .news-item .info-wrap .news-date {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: rgba(40, 42, 46, 0.6);
  display: block;
  margin-bottom: 10px;
}
.news .section-content #news .news-item .info-wrap .news-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282A2E;
}
.news .section-content .news-gallery {
  position: relative;
}
@media screen and (max-width: 576px) {
  .news .section-content .news-gallery {
    display: flex;
    flex-direction: column-reverse;
  }
}
.news .section-content .news-gallery .mobile-arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.news .section-content .arrow {
  z-index: 10;
  position: absolute;
  top: 165px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1460px) {
  .news .section-content .arrow {
    top: 110px;
  }
}
@media screen and (max-width: 768px) {
  .news .section-content .arrow {
    top: 130px;
  }
}
@media screen and (max-width: 576px) {
  .news .section-content .arrow {
    top: calc(50% - 45px);
  }
  .news .section-content .arrow.flicking-arrow-prev {
    left: 10px !important;
  }
  .news .section-content .arrow.flicking-arrow-next {
    right: 10px !important;
  }
}
.news .section-content .arrow.flicking-arrow-prev {
  left: -70px;
}
.news .section-content .arrow.flicking-arrow-next {
  right: -70px;
}

footer {
  padding-top: 70px;
}
footer .footer-content {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 992px) {
  footer .footer-content {
    grid-template-columns: none;
    grid-template-areas: "logo logo logo" "links links networks";
    grid-row-gap: 42px;
  }
  footer .footer-content .logo {
    grid-area: logo;
  }
  footer .footer-content .links {
    grid-area: links;
  }
  footer .footer-content .networks {
    grid-area: networks;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-content {
    grid-template-areas: "logo" "links" "networks";
  }
}
footer .footer-content .links {
  display: flex;
}
@media screen and (max-width: 576px) {
  footer .footer-content .links {
    flex-direction: column;
  }
  footer .footer-content .links .link-block {
    margin-bottom: 42px;
  }
  footer .footer-content .links .link-block:last-child {
    margin-bottom: 0;
  }
}
footer .footer-content .links .link-block {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
@media screen and (max-width: 1460px) {
  footer .footer-content .links .link-block {
    margin-right: 60px;
  }
}
footer .footer-content .links .link-block:last-child {
  margin-right: 0;
}
footer .footer-content .links .link-block .link-block-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 28px;
}
footer .footer-content .links .link-block a {
  display: flex;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.9);
  margin-bottom: 16px;
}
footer .footer-content .links .link-block a:last-child {
  margin-bottom: 0;
}
footer .footer-content .networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer-content .networks {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  footer .footer-content .networks .search-wrap {
    margin-bottom: 42px;
  }
}
footer .footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
@media screen and (max-width: 576px) {
  footer .footer-info {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .footer-info .copy {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}
@media screen and (max-width: 576px) {
  footer .footer-info .copy {
    margin-bottom: 10px;
  }
}
footer .footer-info .copy .sign {
  font-size: 20px;
  margin-right: 5px;
}
footer .footer-info .rights {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  opacity: 0.5;
}
@media screen and (max-width: 576px) {
  footer .footer-info .rights {
    opacity: 1;
  }
}

.breadcrumbs {
  padding: 35px 0;
}
.breadcrumbs .section-content .breadcrumb {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(40, 42, 46, 0.6);
  text-decoration: none;
  opacity: 0.7;
  position: relative;
  margin-right: 20px;
}
.breadcrumbs .section-content .breadcrumb.active {
  color: #282A2E;
}
.breadcrumbs .section-content .breadcrumb::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 8px;
  background-color: #B21115;
  opacity: 0.6;
  top: 50%;
  right: -16px;
}
.breadcrumbs .section-content .breadcrumb:last-child {
  margin-right: 0;
}
.breadcrumbs .section-content .breadcrumb:last-child::after {
  display: none;
}

.posts {
  margin-bottom: 70px;
}
.posts .section-content .section-title {
  margin-bottom: 35px;
}
.posts .section-content .posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .posts .section-content .posts-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .posts .section-content .posts-list {
    grid-template-columns: 1fr;
  }
}
.posts .section-content .posts-list .post-item .post-info {
  padding: 40px 32px;
}
.posts .section-content .posts-list .post-item .post-info .post-title {
  margin-bottom: 22px;
}
.posts .section-content .posts-list .post-item .post-info .post-description-wrap {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .section-content .posts-list .post-item .post-info .post-description-wrap .post-description {
  max-width: 287px;
}
.posts .section-content .posts-list .post-item .post-info .counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
@media screen and (max-width: 992px) {
  .posts .section-content .posts-list .post-item .post-info .counts .counter .mob {
    display: none;
  }
}
.posts .section-content .show-more {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.interests {
  margin-bottom: 60px;
}
.interests .section-content .section-title {
  margin-bottom: 40px;
}
.interests .section-content .interests-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 28px;
}
@media screen and (max-width: 1460px) {
  .interests .section-content .interests-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .interests .section-content .interests-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .interests .section-content .interests-items {
    grid-template-columns: 1fr;
  }
}
.interests .section-content .interests-items .interests-item img {
  width: 100%;
  height: auto;
}
.interests .section-content .interests-items .interests-item .post-info {
  padding: 34px 32px;
}
.interests .section-content .interests-items .interests-item .post-info .post-title {
  margin-bottom: 10px;
}
.interests .section-content .interests-items .interests-item .post-info .post-description {
  margin-bottom: 24px;
}

.about {
  padding-top: 20px;
  margin-bottom: 80px;
}
.about .section-content .section-title {
  margin-bottom: 40px;
}
.about .section-content .author-content {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .about .section-content .author-content {
    flex-direction: column;
  }
  .about .section-content .author-content img {
    margin-bottom: 42px;
  }
}
.about .section-content .author-content img {
  max-width: 410px;
  margin-right: 60px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  .about .section-content .author-content img {
    max-width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .about .section-content .author-content img {
    max-width: none;
    width: 100%;
  }
}
.about .section-content .author-content .text {
  max-width: 560px;
  width: 100%;
}
@media screen and (max-width: 1460px) {
  .about .section-content .author-content .text {
    max-width: none;
  }
}
.about .section-content .author-content .text .head {
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
.about .section-content .author-content .text .divider {
  margin-bottom: 24px;
}
.about .section-content .author-content .text .text-item {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.about .section-content .author-content .text .text-item:last-child {
  margin-bottom: 0;
}

.read-more {
  margin-bottom: 70px;
}
.read-more .section-title {
  margin-bottom: 42px;
}
.read-more .section-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-right: 190px;
  grid-gap: 24px;
}
@media screen and (max-width: 1460px) {
  .read-more .section-content {
    padding-right: 0;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .read-more .section-content {
    grid-template-columns: 1fr;
  }
}
.read-more .section-content .read-post .post-info {
  padding: 34px 32px;
}
.read-more .section-content .read-post .post-info .post-title {
  margin-bottom: 24px;
}
.read-more .section-content .read-post .post-info .post-link-text {
  display: block;
  margin-bottom: 22px;
}
.read-more .section-content .read-post .post-info .counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.contacts {
  padding-top: 20px;
  margin-bottom: 80px;
}
.contacts .section-content {
  max-width: 570px;
}
.contacts .section-content .section-title {
  margin-bottom: 20px;
}
.contacts .section-content .section-title:first-child {
  margin-bottom: 38px;
}
.contacts .section-content .section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", sans-serif;
}
.contacts .section-content .section-description a {
  color: #B21115;
  text-decoration: none;
  font-weight: 500;
}
.contacts .section-content .section-description a:hover {
  text-decoration: underline;
}
.contacts .section-content .section-description.mail {
  max-width: 393px;
  color: rgba(40, 42, 46, 0.7);
}
.contacts .section-content .social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
  margin-top: 38px;
}
@media screen and (max-width: 768px) {
  .contacts .section-content .social-networks {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .section-content .social-networks .network-item {
    margin-bottom: 20px;
  }
  .contacts .section-content .social-networks .network-item:last-child {
    margin-bottom: 0;
  }
}
.contacts .section-content .social-networks .network-item {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.contacts .section-content .social-networks .network-item .link-icon-button {
  margin-right: 22px;
}
.contacts .section-content .social-networks .network-item .button-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Gilroy", sans-serif;
  color: #B21115;
}
.contacts .section-content .contacts-form {
  margin-top: 28px;
}
.contacts .section-content .contacts-form .form-item-wrap {
  display: block;
  margin-bottom: 18px;
}
.contacts .section-content .contacts-form .form-item-wrap:last-child {
  margin-bottom: 24px;
}
.contacts .section-content .contacts-form .form-item {
  width: 100%;
  border: 1px solid rgba(40, 42, 46, 0.12);
  border-radius: 0;
  padding: 12px 26px;
  font-family: "Gilroy", sans-serif;
  color: #282A2E;
  letter-spacing: 0.14em;
  transition: 0.2s;
}
.contacts .section-content .contacts-form .form-item:hover {
  border-color: rgba(40, 42, 26, 0.3);
}
.contacts .section-content .contacts-form .form-item::placeholder {
  color: rgba(40, 42, 46, 0.5);
}
.contacts .section-content .contacts-form input {
  height: 44px;
}
.contacts .section-content .contacts-form textarea {
  height: 90px;
  resize: none;
}
.contacts .section-content .contacts-form button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
}

.lifehacks {
  padding-top: 20px;
  margin-bottom: 80px;
}
.lifehacks .section-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .lifehacks .section-content {
    grid-template-columns: 1fr;
  }
}
.lifehacks .section-content .lifehacks-posts .action-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.lifehacks .section-content .lifehacks-posts .lifehack {
  margin-bottom: 52px;
  display: block;
  text-decoration: none;
}
.lifehacks .section-content .lifehacks-posts .lifehack:hover .post-large-title {
  text-decoration: underline;
}
.lifehacks .section-content .lifehacks-posts .lifehack:last-child {
  margin-bottom: 0;
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-large-title {
  margin-bottom: 16px;
  color: #282A2E;
}
@media screen and (max-width: 576px) {
  .lifehacks .section-content .lifehacks-posts .lifehack .post-large-title {
    font-size: 20px;
  }
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-text-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .lifehacks .section-content .lifehacks-posts .lifehack .post-text-info {
    flex-direction: column;
    align-items: flex-start;
  }
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .post-date {
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: rgba(40, 42, 46, 0.7);
}
@media screen and (max-width: 768px) {
  .lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .post-date {
    margin-bottom: 12px;
  }
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .counts {
  display: flex;
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .counts .counter {
  margin-right: 36px;
}
@media screen and (max-width: 576px) {
  .lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .counts .counter {
    margin-right: 20px;
  }
}
.lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .counts .counter:last-child {
  margin-right: 0;
}
@media screen and (max-width: 576px) {
  .lifehacks .section-content .lifehacks-posts .lifehack .post-text-info .counts .counter .mob {
    display: none;
  }
}
.lifehacks .section-content .lifehacks-posts .lifehack .lifehack-image {
  max-height: 470px;
  width: 100%;
  object-fit: cover;
}
.lifehacks .section-content .popular-wrap .popular-posts-block-wrap {
  position: sticky;
  top: 42px;
}

.current-post {
  margin-bottom: 72px;
}
.current-post .section-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 42px;
}
@media screen and (max-width: 1460px) {
  .current-post .section-content {
    grid-template-columns: 1fr;
  }
}
.current-post .section-content .post-content .go-back {
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: none;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(40, 42, 46, 0.6);
}
.current-post .section-content .post-content .go-back img {
  margin-right: 10px;
}
.current-post .section-content .post-content .section-title {
  margin-bottom: 18px;
}
.current-post .section-content .post-content > .post-info {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-post .section-content .post-content > .post-info .upper-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgba(40, 42, 46, 0.7);
}
.current-post .section-content .post-content > .post-info .counter {
  display: flex;
  align-items: center;
}
.current-post .section-content .post-content > .post-info .counter img {
  margin-right: 16px;
}
.current-post .section-content .post-content .post-content-area .image-wrap {
  margin-bottom: 42px;
}
@media screen and (max-width: 768px) {
  .current-post .section-content .post-content .post-content-area .image-wrap {
    width: 100%;
  }
  .current-post .section-content .post-content .post-content-area .image-wrap img {
    width: 100%;
  }
}
.current-post .section-content .post-content .post-content-area .image-wrap img {
  display: flex;
}
.current-post .section-content .post-content .post-content-area .image-wrap .post-image {
  width: 100%;
}
.current-post .section-content .post-content .post-content-area .image-wrap .sign {
  display: block;
  margin-top: 26px;
}
.current-post .section-content .post-content .post-content-area .image-wrap .sign mark {
  color: #B21115;
  background-color: transparent;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.current-post .section-content .post-content .post-content-area .post-description-wrap {
  margin-bottom: 42px;
}
.current-post .section-content .post-content .post-content-area .post-description-wrap .post-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.02em;
  margin-bottom: 22px;
}
.current-post .section-content .post-content .post-content-area .post-description-wrap .post-description:last-child {
  margin-bottom: 0;
}
.current-post .section-content .post-content .post-content-area .post-head {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.current-post .section-content .post-content .post-detailed-info {
  border-top: 1px solid rgba(40, 42, 46, 0.12);
  padding-top: 32px;
}
.current-post .section-content .post-content .post-detailed-info .post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 84px;
}
@media screen and (max-width: 768px) {
  .current-post .section-content .post-content .post-detailed-info .post-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .current-post .section-content .post-content .post-detailed-info .post-details .counts {
    margin-bottom: 16px;
  }
}
.current-post .section-content .post-content .post-detailed-info .post-details .counts {
  display: flex;
  align-items: center;
}
.current-post .section-content .post-content .post-detailed-info .post-details .counts .counter {
  display: flex;
  align-items: center;
  margin-right: 56px;
}
@media screen and (max-width: 768px) {
  .current-post .section-content .post-content .post-detailed-info .post-details .counts .counter {
    margin-right: 24px;
  }
}
.current-post .section-content .post-content .post-detailed-info .post-details .counts .counter:last-child {
  margin-right: 0;
}
.current-post .section-content .post-content .post-detailed-info .post-details .counts .counter img {
  height: 20px;
  width: 20px;
  margin-right: 14px;
}
.current-post .section-content .post-content .post-detailed-info .post-details .counts .counter .counter-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(40, 42, 46, 0.7);
}
.current-post .section-content .post-content .post-detailed-info .post-details .share {
  display: flex;
}
.current-post .section-content .post-content .post-detailed-info .post-details .share .share-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(40, 42, 46, 0.7);
  margin-right: 18px;
}
.current-post .section-content .post-content .post-detailed-info .post-details .share .shares {
  display: flex;
}
.current-post .section-content .post-content .post-detailed-info .post-details .share .shares .share-item {
  text-decoration: none;
  height: 16px;
  width: 16px;
  margin-right: 18px;
}
.current-post .section-content .post-content .post-detailed-info .post-details .share .shares .share-item:last-child {
  margin-right: 0;
}
.current-post .section-content .post-content .post-detailed-info .post-details .share .shares .share-item img {
  display: flex;
  height: 100%;
  width: 100%;
}
.current-post .section-content .post-content .post-detailed-info .last-posts {
  margin-bottom: 84px;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .section-title {
  margin-bottom: 42px;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .posts-list .post-item {
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  line-height: 24px;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .posts-list .post-item:last-child {
  margin-bottom: 0;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .posts-list .post-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background-color: #B21115;
  border-radius: 50%;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .posts-list .post-item a {
  color: #282A2E;
  text-decoration: none;
}
.current-post .section-content .post-content .post-detailed-info .last-posts .posts-list .post-item a:hover {
  text-decoration: underline;
  color: #B21115;
}
.current-post .section-content .post-content .post-detailed-info .comments-form {
  margin-bottom: 84px;
}
.current-post .section-content .post-content .post-detailed-info .comments-form .comments-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
  color: rgba(40, 42, 46, 0.7);
  margin-bottom: 22px;
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment {
  border: 1px solid rgba(40, 42, 46, 0.12);
  height: 44px;
  display: flex;
  transition: 0.2s;
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment:hover {
  border-color: rgba(40, 42, 26, 0.3);
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment label {
  display: block;
  height: 100%;
  width: 100%;
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment label input {
  height: inherit;
  width: inherit;
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding-left: 26px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.14em;
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment label input::placeholder {
  color: rgba(40, 42, 46, 0.5);
}
.current-post .section-content .post-content .post-detailed-info .comments-form .create-comment .send-comment {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 60px;
}
.current-post .section-content .post-content .post-detailed-info .comments {
  margin-bottom: 84px;
}
.current-post .section-content .post-content .post-detailed-info .comments .section-title {
  margin-bottom: 32px;
}
.current-post .section-content .post-content .post-detailed-info .comments .section-title sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list {
  margin-bottom: 32px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment:last-child {
  margin-bottom: 0;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .avatar {
  height: 76px;
  width: 76px;
  object-fit: cover;
  margin-right: 22px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content {
  padding-top: 2px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .user-info .username {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .user-info .comment-date {
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: rgba(40, 42, 46, 0.6);
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .comment-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 6px;
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .reply {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: 22px;
  color: rgba(40, 42, 46, 0.6);
}
.current-post .section-content .post-content .post-detailed-info .comments .comments-list .comment .comment-content .reply:hover {
  text-decoration: underline;
}
.current-post .section-content .post-content .post-detailed-info .comments .show-all-comments {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.3em;
  text-decoration: underline;
  color: rgba(40, 42, 46, 0.7);
  text-transform: uppercase;
}
.current-post .section-content .post-content .post-detailed-info .comments .show-all-comments:hover {
  text-decoration: none;
}
.current-post .section-content .post-content .post-detailed-info .read-more .section-content {
  padding-right: 0;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 992px) {
  .current-post .section-content .post-content .post-detailed-info .read-more .section-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .current-post .section-content .post-content .post-detailed-info .read-more .section-content {
    grid-template-columns: 1fr;
  }
}
.current-post .section-content .popular-wrap .popular-posts-block-wrap {
  position: sticky;
  top: 42px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1460px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  color: #282A2E;
}

main {
  padding-top: 94px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
